<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation</key>
	<array>
		<dict>
			<key>title</key>
			<string>Route</string>
			<key>id</key>
			<string>track</string>
			<key>class</key>
			<string>HCSTrackConfigViewController</string>
			<key>nib</key>
			<string>HCSTrackConfigView</string>
			<key>tabimage</key>
			<string>CSTabBar_plan_route.png</string>
			<key>hidesNavBar</key>
			<false/>
			<key>usesSlidingView</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Saved Routes</string>
			<key>id</key>
			<string>routes</string>
			<key>class</key>
			<string>HCSRouteListViewController</string>
			<key>nib</key>
			<string>HCSRouteListView</string>
			<key>tabimage</key>
			<string>CSTabBar_itinerary.png</string>
			<key>hidesNavBar</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Photomap</string>
			<key>id</key>
			<string>photomap</string>
			<key>class</key>
			<string>PhotoMapViewController</string>
			<key>nib</key>
			<string>PhotoMapView</string>
			<key>tabimage</key>
			<string>CSTabBar_photomap_tb.png</string>
			<key>isVC</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Settings</string>
			<key>id</key>
			<string>settings</string>
			<key>class</key>
			<string>SettingsViewController</string>
			<key>nib</key>
			<string>SettingsView</string>
			<key>tabimage</key>
			<string>CSTabBar_settings.png</string>
		</dict>
	</array>
	<key>GATrackingCode</key>
	<string>UA-17571411-2</string>
	<key>GAEnabled</key>
	<false/>
</dict>
</plist>
