<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>content</key>
		<string></string>
	</dict>
	<key>global</key>
	<dict>
		<key>error_connection</key>
		<string>Unable to contact server,\r please check your Network Settings.</string>
		<key>error_noresults</key>
		<string>No results for this day. \r Please try later.</string>
	</dict>
	<key>ui</key>
	<dict>
		<key>noresults_SAVEDROUTE_RECENTS</key>
		<string>You have no recent routes, Use the Map view to plan a route.</string>
		<key>noresults_SAVEDROUTE_FAVS</key>
		<string>You have not favourited any routes, press and hold on any planned route to favourite it.</string>
		<key>noresults_LocationSearch</key>
		<string>No results found for this search term.</string>
	</dict>
	<key>account</key>
	<dict>
		<key>error_syntax_email</key>
		<string>This email appears to be invalid.</string>
		<key>error_syntax_password</key>
		<string>Passwords must be 5 characters or more.</string>
		<key>error_response_login</key>
		<string>This email &amp; password combination was not found, please check and try again.</string>
		<key>error_response_register</key>
		<string>There was an error with your register details.</string>
		<key>error_response_password</key>
		<string>The supplied email was not found on the server.</string>
		<key>error_response_server</key>
		<string>A server error occured, please try again.</string>
		<key>message_response_password</key>
		<string>Your new password was sent to your account email address.</string>
		<key>error_syntax_username</key>
		<string>User names must be greater than 5 characters</string>
		<key>error_syntax_visiblename</key>
		<string>Visible names must be greater than 5 characters</string>
	</dict>
	<key>photowizard</key>
	<dict>
		<key>descriptionprompt</key>
		<string>Please enter a description...</string>
	</dict>
</dict>
</plist>
