<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RetrieveLocationPhotos</key>
	<dict>
		<key>id</key>
		<string>RetrieveLocationPhotos</string>
		<key>remoteurl</key>
		<string>http://www.cyclestreets.net/api/photos.xml</string>
		<key>type</key>
		<string>GET</string>
		<key>cache</key>
		<false/>
		<key>parserType</key>
		<string>DATATYPE_XML</string>
		<key>headers</key>
		<dict>
			<key>gzip</key>
			<string>Accepts-Encoding</string>
		</dict>
	</dict>
	<key>UploadUserPhotos</key>
	<dict>
		<key>id</key>
		<string>UploadUserPhotos</string>
		<key>remoteurl</key>
		<string>https://www.cyclestreets.net/api/addphoto.xml</string>
		<key>type</key>
		<string>IMAGEPOST</string>
		<key>cache</key>
		<false/>
		<key>parserType</key>
		<string>DATATYPE_XML</string>
		<key>headers</key>
		<dict>
			<key>gzip</key>
			<string>Accepts-Encoding</string>
		</dict>
	</dict>
	<key>PhotoCategories</key>
	<dict>
		<key>id</key>
		<string>PhotoCategories</string>
		<key>remoteurl</key>
		<string>http://www.cyclestreets.net/api/photomapcategories.xml</string>
		<key>type</key>
		<string>GET</string>
		<key>cache</key>
		<true/>
		<key>parserType</key>
		<string>DATATYPE_XML</string>
		<key>headers</key>
		<dict>
			<key>gzip</key>
			<string>Accepts-Encoding</string>
		</dict>
	</dict>
</dict>
</plist>
