<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uiimages</key>
	<dict>
		<key>alertIcon</key>
		<string>Alert200x200.png</string>
		<key>MKMapPin_green</key>
		<string>Map_Pin_Green.png</string>
		<key>MKMapPin_red</key>
		<string>Map_Pin_Red.png</string>
		<key>navBarlogo</key>
		<string>UINavigationBar_logo.png</string>
		<key>Icon_LeftArrow</key>
		<string>UIButtonIcon_leftArrow.png</string>
		<key>Icon_RightArrow</key>
		<string>UIButtonIcon_rightArrow.png</string>
		<key>BUSegmentedControl_left_lo</key>
		<string>BUSegmentedControl_left_lo.png</string>
		<key>BUSegmentedControl_right_lo</key>
		<string>BUSegmentedControl_right_lo.png</string>
		<key>BUSegmentedControl_center_lo</key>
		<string>BUSegmentedControl_center_lo.png</string>
		<key>BUSegmentedControl_left_hi</key>
		<string>BUSegmentedControl_left_hi.png</string>
		<key>BUSegmentedControl_right_hi</key>
		<string>BUSegmentedControl_right_hi.png</string>
		<key>BUSegmentedControl_center_hi</key>
		<string>BUSegmentedControl_center_hi.png</string>
		<key>UINavigationBar_back_lo</key>
		<string>UINavigationBar_back_lo.png</string>
		<key>UINavigationBar_back_hi</key>
		<string>UINavigationBar_back_hi.png</string>
		<key>uibuttonbar_backarrow</key>
		<string>UIButtonBar_backarrow.png</string>
		<key>uibuttonbar_refresh</key>
		<string>UIButtonBarRefresh.png</string>
		<key>UIButtonIcon_add</key>
		<string>UIButtonIcon_add.png</string>
		<key>Icon_remove</key>
		<string>UIButtonBarStop.png</string>
		<key>UIButton_grey_lo</key>
		<string>UIButton_grey_lo.png</string>
		<key>UIButton_grey_hi</key>
		<string>UIButton_grey_hi.png</string>
		<key>UIButton_grey_disabled</key>
		<string>UIButton_grey_lo.png</string>
		<key>UIButton_orange_lo</key>
		<string>UIButton_orange_lo.png</string>
		<key>UIButton_orange_hi</key>
		<string>UIButton_orange_hi.png</string>
		<key>UIButton_orange_disabled</key>
		<string>UIButton_grey_lo.png</string>
		<key>UIButton_orangesmall_hi</key>
		<string>UIButton_orangesmall_hi.png</string>
		<key>UIButton_orangesmall_lo</key>
		<string>UIButton_orangesmall_lo.png</string>
		<key>UIButton_orangesmall_disabled</key>
		<string>UIButton_orangesmall_lo.png</string>
		<key>UIButton_red_lo</key>
		<string>UIButton_red_lo.png</string>
		<key>UIButton_red_hi</key>
		<string>UIButton_red_hi.png</string>
		<key>UIButton_red_disabled</key>
		<string>UIButton_grey_lo.png</string>
		<key>UIButton_redsmall_lo</key>
		<string>UIButton_redsmall_lo.png</string>
		<key>UIButton_redsmall_disabled</key>
		<string>UIButton_redsmall_lo.png</string>
		<key>UIButton_redsmall_hi</key>
		<string>UIButton_redsmall_hi.png</string>
		<key>UIButton_green_lo</key>
		<string>UIButton_green_lo.png</string>
		<key>UIButton_green_hi</key>
		<string>UIButton_green_hi.png</string>
		<key>UIButton_green_selected</key>
		<string>UIButton_orange_lo.png</string>
		<key>UIButton_green_disabled</key>
		<string>UIButton_grey_lo.png</string>
		<key>UIBarButton_lo</key>
		<string>UIButton_green_lo.png</string>
		<key>UIBarButton_hi</key>
		<string>UIButton_green_hi.png</string>
		<key>navuparrow</key>
		<string>RKNavArrowUp.png</string>
		<key>navuparrow_disabled</key>
		<string>RKNavArrowUp_disabled.png</string>
		<key>navdownarrow</key>
		<string>RKNavArrowDown.png</string>
		<key>Icon_NagmeLogo</key>
		<string>UIButton_nagmeIcon.png</string>
		<key>UIButton_envelope_hi</key>
		<string>UIButton_envelope_hi.png</string>
		<key>UIButton_envelope_lo</key>
		<string>UIButton_envelope_lo.png</string>
		<key>UIButton_envelope_disabled</key>
		<string>UIButton_envelope_lo.png</string>
		<key>UIButton_delete_hi</key>
		<string>UIButton_notedelete_hi.png</string>
		<key>UIButton_delete_lo</key>
		<string>UIButton_notedelete_lo.png</string>
		<key>UIButton_delete_disabled</key>
		<string>UIButton_notedelete_lo.png</string>
		<key>UIButton_savenote_lo</key>
		<string>UIButton_save_lo.png</string>
		<key>UIButton_savenote_hi</key>
		<string>UIButton_save_hi.png</string>
		<key>UIButton_savenote_selected</key>
		<string>UIButton_save_selected.png</string>
		<key>UIButton_savenote_disabled</key>
		<string>UIButton_save_lo.png</string>
		<key>UIButton_radio_hi</key>
		<string>UIButton_radio_hi.png</string>
		<key>UIButton_radio_lo</key>
		<string>UIButton_radio_lo.png</string>
		<key>magnify</key>
		<string>06-magnify.png</string>
		<key>SAVEDROUTE_RECENTS</key>
		<string>Icon_norecentroutes.png</string>
		<key>SAVEDROUTE_FAVS</key>
		<string>Icon_nofavroutes.png</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>navigationblue</key>
		<string>0x152A82</string>
		<key>black</key>
		<string>0x000000</string>
		<key>white</key>
		<string>0xFFFFFF</string>
		<key>racinggreen</key>
		<string>0x006600</string>
		<key>navigationbar</key>
		<string>0x008000</string>
		<key>predictorred</key>
		<string>0xDB1300</string>
		<key>predictorgreen</key>
		<string>0x29C52A</string>
		<key>predictorgrey</key>
		<string>0x6C6C6C</string>
		<key>predictororange</key>
		<string>0xFFA60E</string>
		<key>grey</key>
		<string>0xCCCCCC</string>
		<key>darkgrey</key>
		<string>0x444444</string>
		<key>verydarkgrey</key>
		<string>0x222222</string>
		<key>midgrey</key>
		<string>0x999999</string>
		<key>controlbar</key>
		<string>0xE7E7E7</string>
		<key>orange</key>
		<string>0xFF5100</string>
		<key>darkgreen</key>
		<string>0x31620E</string>
		<key>palegreen</key>
		<string>0x9BC858</string>
	</dict>
	<key>fonts</key>
	<dict/>
</dict>
</plist>
