<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appVersion</key>
	<string>3.0</string>
	<key>userControlledSettings</key>
	<dict>
		<key>context</key>
		<string>map</string>
	</dict>
	<key>systemControlledSettings</key>
	<dict/>
</dict>
</plist>
