.DS_Store
docs/APIKey.txt

Crashlytics.framework/Crashlytics

Crashlytics.framework/Headers

Crashlytics.framework/Resources

Crashlytics.framework/Versions/A/Crashlytics

Crashlytics.framework/Versions/A/Headers/Crashlytics.h

Crashlytics.framework/Versions/A/Resources/Info.plist

Crashlytics.framework/Versions/A/Resources/Runner

Crashlytics.framework/Versions/A/Resources/en.lproj/InfoPlist.strings

Crashlytics.framework/Versions/A/Resources/runner.rb

Crashlytics.framework/Versions/Current

Crashlytics.framework/run

docs/APIKey_live.txt

*.xcuserstate

docs/hillroute.xml

.gitignore.orig
CycleStreets.xcodeproj/project.xcworkspace/xcuserdata/neil.xcuserdatad/UserInterfaceState.xcuserstate

CycleStreets.xcodeproj/xcuserdata/neil.xcuserdatad/xcschemes/AdHoc CycleStreets.xcscheme

CycleStreets.xcodeproj/xcuserdata/neil.xcuserdatad/xcschemes/AdHoc CycleStreets.xcscheme
APIKey_live.txt
src/CMMapLauncher/CMMapLauncher.h
src/CMMapLauncher/CMMapLauncher.m
